<div class="window">
	<div class="container-fluid">
		<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2">
				<h1>Do you need help with anything?</h1>
				<h3>Interested? Shoot me a message! These are my areas of expertise, but if you need something else, let me know!</h3>
				<p id="center-it">Website & Web App Development, Back-end Development, Content Writing, Resume Writing, Marketing & Branding, Event Management, Nonprofit Management</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1" id="services">
				<h1>Skills</h1>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-code-fork"></i>Ruby on Rails, JavaScript, HTML, CSS, HAML, Git, Github, APIs, jQuery, Wordpress, Drupal, SQLite, PostgreSQL, Bootstrap, Heroku</li>
					<li><i class="fa-li fa fa-laptop"></i>Microsoft Office Suite, Photoshop, Adobe Illustrator, Salesforce, Constant Contact, C-vent</li>
					<li><i class="fa-li fa fa-users"></i>Bilingual in Spanish and English, intermediate French</li>
					<li><i class="fa-li fa fa-user"></i>Multi-tasker, self-starter, team player, leader, writing & communications, positive attitude</li>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-5" id="services">
					<h1>Education</h1>
			<h3>Kennesaw State University</h3>
			<h4>August 2013</h4>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-graduation-cap"></i>BBA in International Business concentration in Management</li>
				<li><i class="fa-li fa fa-graduation-cap"></i>Minor in French and Francophone Studies</li>
				<li><i class="fa-li fa fa-graduation-cap"></i>Study Abroad in Sydney, Australia: Strategic and Financial Management for Entrepreneurial Businesses</li>
				<li><i class="fa-li fa fa-graduation-cap"></i>BS in Industrial Engineering coursework</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1" id="services">
			<h1>Experience</h1>
			<h3>Tech Talent South</h3>
			<p>Code Immersion Student</p>
			<h4>October 2015 – Present</h4>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-code"></i>Full-time code immersion program focused on learning and understanding: Ruby on Rails, Domain Modeling, HTTP and "RESTful" Design, HTML/CSS, Javascript and AJAX, APIs, Bootstrap, Git, Github, Ruby Gems</li>
				<li><i class="fa-li fa fa-code"></i>Teaching Assistant for Tech Talent South's Kids Code Program</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5" id="services">
			<h3>SRMUN, Inc</h3>
			<p>Under Secretary-General</p>
			<h4>January 2015 – Present</h4>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-laptop"></i>Oversee the behind-the-scenes production of the conference</li>
				<li><i class="fa-li fa fa-laptop"></i>Create and execute detailed logistics plan for 30 staff members and 400+ college students and faculty</li>
				<li><i class="fa-li fa fa-laptop"></i>Manage the Conference Services office and team, and troubleshoot all hardware and software equipment</li>
				<li><i class="fa-li fa fa-laptop"></i>Produce marketing and informational materials</li>
				<li><i class="fa-li fa fa-laptop"></i>Help maintain the website and conference database</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1" id="services">
			<h3>Latin American Association</h3>
			<p>Development Coordinator</p>
			<h4>May 2012 – May 2013</h4>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-user"></i>Executed strategic development plan by coordinating logistics for fundraising events</li>
				<li><i class="fa-li fa fa-user"></i>Identified and established rapport with potential sponsors</li>
				<li><i class="fa-li fa fa-user"></i>Increased brand positioning efforts by implementing creative online marketing strategies, such as social media initiatives and email marketing campaigns</li>
				<li><i class="fa-li fa fa-user"></i>Maintained website using Joomla and custom HTML and CSS layout, and deployed and updated all marketing banners and promotions</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5" id="services">
		&nbsp;&nbsp;
		<p>Volunteer Program Intern</p>
		<h4>January 2012 – May 2012</h4>
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-users"></i>Identified potential volunteer opportunities</li>
			<li><i class="fa-li fa fa-users"></i>Recruited and oriented new volunteers, coordinated volunteers for projects, and managed the volunteer database through Salesforce</li>
			<li><i class="fa-li fa fa-users"></i>Successfully managed over 250 volunteers at Copa Latina and 300 volunteers at the Latino Youth Leadership Conference</li>
			<li><i class="fa-li fa fa-users"></i>Formed mutually beneficial partnerships with companies and educational institutions resulting in increased revenue and greater community involvement</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1" id="services">
		<h3>Kennesaw State University</h3>
		<p>Spanish Tutor</p>
		<h4>January 2009 – February 2012</h4>
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-pencil"></i>Tutored basic, intermediate and advanced Spanish grammar, composition, reading and linguistics</li>
			<li><i class="fa-li fa fa-pencil"></i>Designed promotional material for special events using Adobe Illustrator and Photoshop</li>
			<li><i class="fa-li fa fa-pencil"></i>Maintained the computer lab equipment and performed any other duties as assigned by lab coordinator</li>
		</ul>
	</div>
</div>
</div>
</div>















