<div class="window">
	<div class="container-fluid">
		<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2">
      	<h3>Check out this short list of some of the things I've built. If you would like more samples, reach out to me!</h3>
      	<h1>Recipe Book</h1>
      	<%= image_tag "recipe.png", class: "img-responsive", id: "recipe" %>
				<h3>This is a recipe storage app that allows users to create and save recipes with ingredients and directions. The user can also edit and delete any recipe and browse other user's recipes. This app was built using Rails, Javascript, Bootstrap, AJAX, and HAML.</h3>
				<p id="center-it">
					<a href="https://github.com/ggalue/recipe-app" target="_blank">View Code</a>
				</p>
			</div>
		</div>
		<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2">
      	<h1>JobHunt</h1>
				<%= image_tag "jobhunt.png", class: "img-responsive", id: "jobhunt" %>
				<h3>JobHunt was my final project during my time at Tech Talent South. I got the idea after talking to my fellow classmates and realizing how difficult it is to organize your job search after graduation. JobHunt helps you organize your next job search by keeping track of all the activity on your job applications. With JobHunt, you simply search for jobs, save them, and take notes.</h3>
				<p id="center-it">
					<a href="https://github.com/ggalue/job_hunt_project" target="_blank">View Code</a>
				</p>
			</div>
		</div>
		<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2">
      	<h1>To-Do List App</h1>
      	<%= image_tag "todolist.png", class: "img-responsive", id: "list" %>
				<h3>This is a simple app that allows users to create tasks and add todo items for each. The user can also edit and delete any task. This app was built using Rails, Javascript, Bootstrap, and AJAX. </h3>
				<p id="center-it">
					<a href="https://github.com/ggalue/todo_list" target="_blank">View Code</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-offset-2">
				<h1>Top5 App</h1>
				<%= image_tag "top5.png", class: "img-responsive", id: "list" %>
				<h3>Top5 allows users to populate their application with their favorite artists. They can also add their top songs for each artist and rate each one. This is a fun, functional application built with Rails, Bootstrap, and custom CSS.</h3>
				<p id="center-it">
					<a href="https://github.com/ggalue/top5_app" target="_blank">View Code</a>
				</p>
			</div>
		</div>
	</div>
</div>






