
<div class="window">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6" id="services-info">
				<h1>Do you need help with anything?</h1>
				<h3>Interested? Shoot me a message!</h3>
				<p>These are my areas of expertise,</p> 
				<p>but if you need something else, let me know!</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6" id="services">
				<h1>Services</h1>
				<p>Content Writing<p>
				<p>Resume Writing</p>
				<p>Marketing & Branding</p>
				<p>Event Management</p>
				<p>Nonprofit Management</p>
				<p>Website & Web App Development</p>
				<p>Back-end Development</p>
			</div>
		</div>
	</div>
</div>