<div class="window">
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-offset-2 blogstream">
          <h3><strong>How do I deal with this so-called "Impostor Syndrome"?</strong></h3>
          <h4>February 10, 2016</h4>
          <p>What is “impostor syndrome”? Does this mean I’m being fake? “Impostor syndrome can be defined as a collection of feelings of inadequacy that persist even in face of information that indicates that the opposite is true...<a href="/blog/post3"> Read more</a></p>
        </div>
      </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2 blogstream">
          <h3><strong>I have a Q&A on Hypepotamus! What!?</strong></h3>
          <h4>December 30, 2015</h4>
          <p>During our first week of classes at Tech Talent South, our awesome community manager, Mandy Putnam, sent us a “social media round up spreadsheet” which basically included all of the newsletters, blogs, and tech accounts that we should follow...<a href="/blog/post2"> Read more</a></p>
        </div>
      </div>
  	<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2 blogstream">
        <h3><strong>What I learned at Tech Talent South in 8 weeks (besides coding, duh.)</strong></h3>
          <h4>December 4, 2015</h4>
          <p>When I joined Tech Talent South’s Fall 2015 cohort, I went in thinking that it would be just like another semester in college. I mean, I don’t like to brag, but I killed it in college and I’m a very quick learner.  I soon realized that this semester was twice as short and twice as hard...<a href="/blog/post1"> Read more</a></p>
        </div>
      </div>
    </div>
  </div>
