<div class="window">
  <div class="container-fluid">
  	<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2">
      	<h3><strong>Why You Should Teach Your Kids How To Code</strong></h3>
      	<h4>February 19, 2016</h4>
        <p>During my time at Tech Talent South I volunteered to be a teaching assistant for their Kids Code Youth Camp for kids ages 8-13 every Monday afternoon. I was amazed at how excited these kids were to code even after a whole day at school under their belts. Although everything they learned was very basic, their talent and aptitude for learning certainly impressed me. They picked up these skills very quickly and they had no problem asking questions when they were unsure of something. This is the magical thing with children: they are not afraid. Adults have a tendency of being afraid to pick up new skills because they have other responsibilities and sometimes taking the time to learn something so time consuming as coding can be very daunting. </p>
      	<p>Yesterday, I volunteered to be a mentor at a hackathon for 9th and 10th graders who had been studying front-end web design and Ruby for 5 weeks. Their task was to build resources for Syrian refugee students in Georgia. I honestly did not know what I was signing myself up for. I thought I would just be walking around and giving ideas, but these kids had real ideas that developed into real web applications. The first place team developed web app that randomly generated vocabulary words translated using the Google Translate API. Other projects included an American idioms quiz, a website with information about the cities that they were being resettled to, a welcome page with messages translated from English to Arabic, and an American holiday’s quiz. Basically, these kids were amazing. I was helping them troubleshoot their Ruby code, giving them tips when using Bootstrap, and giving them pointers on how they could make their projects better. I never imagined that students in high school were already learning how to code! These high school kids definitely put me through the ringer –if you think 10-year olds weren’t afraid of asking me questions, well 15-year olds definitely asked me things that made my head hurt.  I came out of there exhausted, but extremely satisfied with myself. I definitely think that all school curriculums should include at least an intro to coding class at any grade level!</p>
        <p>
          <%= link_to "Back", blog_path %>
        </p>
      </div>
    </div>
  </div>
</div>



