<div class="window">
  <div class="container-fluid">
  	<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2">
      	<h3><strong>How do I deal with this so-called "Impostor Syndrome"?</strong></h3>
      	<h4>February 10, 2016</h4>
        <p>What is “impostor syndrome”? Does this mean I’m being fake?</p>
        <p><i class="fa fa-quote-left fa-3x fa-pull-left"></i>“Impostor syndrome can be defined as a collection of feelings of inadequacy that persist even in face of information that indicates that the opposite is true. It is experienced internally as chronic self-doubt, and feelings of intellectual fraudulence. It is basically feeling that you are not really a successful, competent, and smart student, that you are only imposing as such.”**</p>
      	<p>Being a coding school graduate is an amazing feeling, but its also very nerve wrecking. Taking 3 months to learn a new skill from scratch is hard, but it speaks a lot about you –you’re not afraid to take on a challenge, you’re thirsty for knowledge, etc, etc, etc. It is no secret that the tech industry is HUGE in Atlanta, therefore its inevitable to feel at a disadvantage in comparison to someone with a 4-year CS college degree. It’s really easy to feel like you’re a fraud and that everyone will eventually find out.</p>
      	<p>A couple of months ago I went to an event hosted by Microsoft called Coddess, which aims to inspire female coders and help them achieve their professional goals through networking events, mentoring, and sharing their experiences. One lady asked the panel how we should deal with the “imposter syndrome” as a woman in tech. At the moment, I had just begun my program at Tech Talent South, so I didn’t quite understand what she was referring too. Now that I finished it, I completely understand what she was talking about. How do I compete with other people? What if people realize that I don’t know as much as they think?</p>
      	<p>I’ve asked several people in the industry this question and I think the general consensus is that when it comes to coding (and life in general, even though it sounds cliché), you never stop learning. There is always a new language, framework, library or something to learn. It just never stops. This is why I have decided to cease comparisons and focus on the value that I bring to the table, and not on attaining perfection. I am a person who aims high and is committed to giving my very best at every endeavor that I set my sights upon a.k.a. coding. </p>
        <h4>**Definition taken from: https://counseling.caltech.edu/general/InfoandResources/Impostor</h4>
        <p>
          <%= link_to "Back", blog_path %>
        </p>
      </div>
    </div>
  </div>
</div>



