<div class="window">
  <div class="container-fluid">
  	<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2">
      	<h3><strong>I have a Q&A on Hypepotamus! What!?</strong></h3>
      	<h4>December 30, 2015</h4>
      	<p>During our first week of classes at Tech Talent South, our awesome community manager, Mandy Putnam, sent us a “social media round up spreadsheet” which basically included all of the newsletters, blogs, and tech accounts that we should follow. The first one I followed and check regularly was Hypepotamus because they are the go-to source for hottest news, events, companies, people, and jobs in the Atlanta startup scene. I was amazed at how they connected companies with individuals and even took the chance to showcase students that were navigating their way through the Atlanta tech industry, which believe me, is no easy task. Imagine my surprise when I was chosen to be profiled on Hype at the end of my code immersion program!</p>
      	<p>Check out the Q&A below!</p>
      	<p><a href="http://www.hypepotamus.com/people/geraldine-galue/">http://www.hypepotamus.com/people/geraldine-galue/</a></p>
      	<p><i class="fa fa-quote-left fa-3x fa-pull-left"></i>Geraldine Galue is a talented tech lady with heart. When Galue isn’t creating her personal website, you can find her helping nonprofits build their brand and social media campaigns. This quick learner and lover of logic is looking for an internship or junior development position in a startup. She won’t be on the job market for long so snag her while you can.</p>
      	<p>- What program did you just complete?</p>
      	<p>I just completed Tech Talent South’s full-time Code Immersion Program.</p>
      	<p>- What did you build during your time in the course?</p>
      	<p>We built many apps during class, but I always went back home and worked on them to keep learning as much as possible. My first solo project was my personal website that I will eventually use to display my work. For my final class project, I built a web app that helps you organize your job search by keeping track of all the activity on your job applications without having to use messy spreadsheets or notes.</p>
      	<p>- What other past tech/creative projects have you worked on?</p>
      	<p>Besides my newfound love for coding, I also really enjoy writing and creating things. I work as a freelance writer and I also work with a couple of nonprofits helping them with their branding initiatives and social media campaigns, as well as producing their marketing and informational materials.</p>
      	<p>- What are your best technical or creative skills?</p>
      	<p>I have a business and logistics background so my brain works in numbers. I’m a quick learner and I love logic –basically anything that makes sense, like coding. I discovered that I really enjoy back-end development. I always thought I was more of a front-end development girl because I like things to look esthetically pleasing and I used to do basic HTML and CSS at my old job, but the more I learned about Rails, the more in love I fell with it.</p>
      	<p>- What’s next on your list to learn?</p>
      	<p>I’m always searching for something new to learn –that’s why I joined Tech Talent South. Right now I am definitely focusing on improving my current skills, but I would like to learn JavaScript and Angular. I’m old school and like to have books when I’m learning something new, so I just bought an intro to JavaScript book.</p>
        <p>- What tech/tools are essential to you?</p>
        <p>There are several that I use all the time: Github, Sublime, Photoshop, Stackoverflow, and any online tutorial or YouTube video that I get my hands on.</p>
        <p>- How do you stay informed & on top of emerging trends?</p>
        <p>During our first week of class our awesome community manager, Mandy, sent us a social media round spreadsheet which basically included all of the newsletters, blogs, and accounts that we should follow. I follow TechCrunch, Atlanta Tech Blogs, ATDC, ATV, Tech Drawl, and obviously Hypepotamus. I also attend Ruby meetups, which are great for networking.</p>
        <p>- What’s your ideal internship/job?</p>
        <p>As cliché as it sounds, my ideal internship or job would be one that exposes me to different types of projects, so that I can learn as much as possible. Ideally I would like to work at a startup because I really enjoy the culture and environment behind them. Also, a company that really values their employees and supports continuing education and development would be a plus.</p>
        <p>- Interested in startups?</p>
        <p>Yes, of course. The more I’ve immersed myself in the tech startup scene in ATL, I’ve realized that I would really like to work in one. Being involved in something that is being built from the ground up sounds challenging, yet exciting.</p>
        <p>- Post graduation plans?</p>
        <p>Currently, I am finishing up my portfolio and looking for an internship or full-time junior development position, ideally in a startup. However, I am still working on my personal projects in order to keep practicing and to gain more experience.</p>
        <p>- When are you available to start?</p>
        <p>As soon as possible!<i class="fa fa-quote-right fa-3x fa-pull-right"></i></p>
        <p>
      	 <%= link_to "Back", blog_path %>
        </p>
      </div>
    </div>
  </div>
</div>


