<div class="window">
  <div class="container-fluid">
  	<div class="row">
      <div class="col-xs-8 col-sm-8 col-md-offset-2">
      	<h3><strong>What I learned at Tech Talent South in 8 weeks (besides coding, duh.)</strong></h3>
      	<h4>December 4, 2015</h4>
      	<p>When I joined Tech Talent South’s Fall 2015 cohort, I went in thinking that it would be just like another semester in college. I mean, I don’t like to brag, but I killed it in college and I’m a very quick learner.  I soon realized that this semester was twice as short and twice as hard. At first, I thought two months was ample time to learn how to code, I mean everyone seems to be joining a coding boot camp these days, right? I’m certainly not the first one. I quickly realized that this was not the case.</p>
      	<p>As cliché as it sounds, coding, like most things in life, requires practice. And not just practicing-song-lyrics-in-the-shower-over-and-over-until-you-learn-the-song-practice, but dedicated and structured practice several hours a day if you are committed to learning in eight weeks. With this practice definitely comes dedication and commitment to learn. I could have easily gone to class everyday and followed move by move exactly what my awesome instructor Aaron did, but what would happen after class? Would I be able to just go home and be a coding ninja? Let me tell you, the answer is no.</p>
      	<p>These past eight weeks literally flew by. People say that time flies when you’re having fun, and I can truly say that these past 8 weeks were the highlight of my year and a great end to 2015. I’ve always been a good student, but sometimes you just get rusty and forget how to study. TTS taught me a newfound appreciation for detail, an infinite amount of patience, dedication and commitment to a craft (one of our guest speakers pointed out that coding is not a skill, but a craft), and learning how to code, duh. I also learned that switching to tea after 12pm for a caffeine boost makes you feel so much better than drinking coffee 24/7. I am learning how to code and I wouldn’t change this experience for anything else. Thank you TTS. </p>
        <p><a href="http://techtalentsouth.com/student-blog/what-i-learned-at-tech-talent-south-in-8-weeks-besides-coding/" target="_blank"> http://techtalentsouth.com/student-blog/what-i-learned-at-tech-talent-south-in-8-weeks-besides-coding/</a></p>
        <p>Originally posted on Tech Talent South website.</p>
        <p>
          <%= link_to "Back", blog_path %>
        </p>
      </div>
    </div>
  </div>
</div>



