/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome';
 @import url(https://fonts.googleapis.com/css?family=Puritan);

body {
  font: "helvetica";
  font-weight: 100;
}

.navbar-default{
	font-family: 'Puritan', serif;
	font-size: 20px;
	font-weight: bold;
}

.header {
	text-align: center;
}

#center-it {
	text-align: center;
}

.footer {
	text-align: center;
	margin: 2em 0;
}

#atl {
	margin-top: 2em;
	margin-bottom: 1em;
}

.row {
	margin: 1.5em 0;
	text-align: center;
	font-size: 24px;
}

a:hover {
	font-weight: 600;
	color: #79C7FD;
	text-decoration: none;
}

.window {
	background-color: #FFF;
	margin-top: 2em;
	margin-bottom: 1em;
}

#about {
	font-size: 18px;
	text-align: left;
}

.me_pic {
	vertical-align: center;
	display: inline-block;
	max-width: 60%;
}

#contact {
	font-size: 18px;
	text-align: left;
}

#contact-info {
	font-size: 18px;
	text-align: left;
	margin-top: 3em;
	margin-bottom: 3em;
}

#services {
	font-size: 18px;
	text-align: left;
}

#services-info {
	font-size: 18px;
	text-align: left;
	margin-top: 3em;
	margin-bottom: 3em;
}







